body {
    background-color: #f4f4f4;
}

.main-content {
    padding: 40px;
}

.main-content h2 {
    color: #634415;
}

.service {
    margin-bottom: 30px;
}

.service h3 {
    color: #5f342e;
}

.service p {
    color: #444;
}

/* Estilos para las cajas */
.service-box {
    background-color: #cc9e61a9;
    border: 1px solid #cc9e61a9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.service-box h3 {
    margin-top: 0;
    font-size: 24px;
}

.service-box p {
    font-size: 16px;
    line-height: 1.5;
}

.page-content h2 {
    color: #743a35;
    font-size: 28px;
    margin-bottom: 20px;
}

.page-content p {
    font-size: 18px;
    line-height: 1.6;
}

.image-section img {
    max-width:30%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.hab-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hab-image {
    flex: 1;
    text-align: center;
}

.hab-image img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.hab-content {
    flex: 1;
    padding: 40px;
}

.hab-content h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

.hab-content p {
    font-size: 18px;
    line-height: 1.6;
}
